* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  --image-width: 400px;
}

html,
body {
  height: 100%;
  font-family: Arial, sans-serif;
}

img {
  max-width: var(--image-width);
  height: auto;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
  color: inherit;
}

.content {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
  width: calc(var(--image-width) + 80px);
  margin: 0 auto;
}

.slide-frame {
  width: var(--image-width);
  overflow: hidden;
  position: relative;
}

.slides {
  display: flex;
  width: calc(4 * var(--image-width));
  transition: transform 0.5s ease;
}

.left,
.right {
  position: absolute;
  top: 50%;
  transform: translateY(-50%); 
  padding: 10px;
  cursor: pointer;
}

.left {
  left: 0; 
}

.right {
  right: 0;
}

.slider {
margin-top: 10px;
}

.slider button {
  border-radius: 50%;
  width: 20px;
  height: 20px;
  background-color: rgb(243, 235, 235);
  cursor: pointer;
  border: 1px solid rgb(68, 62, 62);
}

.slider button:hover {
  transform: scale(1.2); 
  background-color: rgb(31, 128, 31);
}

.slider .active {
  background-color: rgb(95, 85, 85);
  transform: scale(0.95);
}

.header {
  background: linear-gradient(135deg, #ff6f61, #ff9472);
  color: white;
  padding: 10px;
  text-align: center;
  font-size: 2.2rem;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.2);
  margin: 10px 20px;
}
